.headContainer {
    display: flex;

}
.leftContainer {
 flex:2;
 /* border: 2px solid green; */
 height: 653px;
}
.rightContainer {
    flex:4;
    /* border: 2px solid red; */
}
.searchBar{
    display: flex;
    /* border: 2px solid yellow; */
    height: 50px;
    justify-content: space-between;
    padding: 10px 15px;
    gap: 10px;
    border: 1px solid rgb(236, 236, 236);

}
.upperSection{
    border: 1px solid rgb(236, 236, 236);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color:#F0F2F5;

    
}
.inputTextField {
    width: 357px;
    height: 28px;
   
    border-radius: 9px;
    border: none;
    outline: none;
    background: none;
    
}
.searchImage {
    
    width: 40px;
    padding: 7px;
    height: 18px;
    margin-top: 4px;
}
.leftLowerSection{
    display: flex;
    justify-content: space-between;
}
.nameArea{
    display: flex;
    gap: 10px;
}
.nameAndMessage{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.itemName{
    color: black;
    font-size: 17px;
}
.itemMessage{
    color: #939292;
    font-size: 14px;
}
.chatImage {
      border-radius: 50% !important;
      /* flex:1;
      width: 3px */
}
.chatName {
border: 2px solid black;
flex:3;
width: 3px;
}
.leftLowerSection {
    /* border-top: 2px solid blue; */
    border-bottom: 1px solid #d9dbdd;
    padding: 20px 0px;
    gap:3px;
}
.a {
    padding: 0px 20px;
    height: 482px;
    overflow: auto;
}
.imageArea {
    border: none;
}
.timeArea{
    color: #ab9a9a;
}
.chatImageRound{
    border-radius: 50%;
}
.profileLogos{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.textField {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F0F2F5;
    padding: 5px 10px;
    border-radius: 9px;

}
.rightUpperSection{
    /* border: 2px solid green; */
    padding: 17px 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color:#F0F2F5;
}
.rightChatImage{
    border-radius: 50%;
}
.onlineStatus{
    color: #939292;
    font-size: 14px;
}
.rightName{
    font-size: 17px;
}
.bothRight{
    display: flex;
   
   
    gap: 10px;
}
.bothLeft {
    display:flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}
.rightLowerSection{
    display: flex;
    justify-content: center;
    /* border:1px solid red; */
    /* background-color: grey; */

}
.day {
    /* width: 30px; */
    /* border: 1px solid pink; */
    font-size: 15px;
    border-radius: 15px;
    width: 92px;
    justify-content: center;
    display: flex;
    background-color: white;
    margin-top: 5px;
    border: none;
    outline: none;
}
.downSection{
    
    background-color: #ffecec;
}
.hey {
    box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18), 0px 2px 2px rgba(159, 162, 191, 0.32);
        border-Radius: 6px 22px 22px 22px;
        max-width: fit-content;
        min-width: 35%;
        background-color: white;
        padding: 5px 20px;
        margin-left: 10px;
}

.time {
    display: flex;
justify-content: end;
}
.recieve{
    float: right;
    background-color: green;
    box-shadow: 0px 9px 16px rgba(159, 162, 191, 0.18), 0px 2px 2px rgba(159, 162, 191, 0.32);
        border-Radius: 22px 6px 22px 22px;
        padding: 5px 20px;
        color: white;
        margin-right: 10px;

}
.messages{
    display: flex;
    flex-direction:column ;
    gap: 10px;
    height: 473px;
    overflow: auto;
}
.twoImg{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
    
}
.searchDiv{
    width: 704px;
    height: 32px;
    border-radius: 9px;
    border: none;
    outline: none;
    background: #F0F2F5;
    padding: 5px 10px;

   
}
.lowerRightSection{
    display: flex;
    gap:5px;
    

}
.messageTyping{
    flex: 5;
    display: flex;
    align-items: center;
    
}
.microImg{
    display: flex;
    align-items: center;
}
